* {margin: 0; padding: 0}

/* body {
    margin-top: 5px;
} */

html, body {overflow-y:hidden}

nav div{
    height: 60px;
    /* height: 20%; */
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffff;
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
}

.wrap {
    width: 100%;
    max-width: 1200px;    
    margin: 0 auto;
}

.left{
    width: 30%;
    float: left;
    background: #F0F5B5;
    /* border: 2px solid white; */
    color: #000000;
}

.center{
    width: 35%;
    float: left;
    background: #F0F5B5;
    /* border: 2px solid white; */
    color: #000000;
}

.right{
    width: 30%;
    float: left;
    background: #F0F5B5;
    /* border: 2px solid white; */
    color: #000000;
}
.right button{
    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: 2px solid #F6A19D;
    border-radius: 10px;
    padding: 5px 10px;
}

.enter{
     margin: 0 50px 0 0;     
 }

main div{
    height: 719px;
    /* height: 70%; */
}

.main-left{
    background: #F6A19D;
}

.main-center{
    background: #ffff;
}

.main-right{
    background: #ffff;
    position: relative;
}

.service-list{
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 21px;
    margin: 15px 0 0 65px;
}

.service-list li{
    padding: 5px 0;
}

a.service-list{
    padding-left: 0;
    font-size: 15px;
    padding-left: 150px;
    text-decoration: none;
}

.model-left{
    width: 370px;
    height: 475px;
    margin-top: 20px;
}

.model-right{
    margin-top: 0;
    width: 360px;
}

.center-header{
    font-size: 34px;
    text-decoration: underline;
    padding: 100px 0 50px 0;
    font-weight: bold;    
}

.center-text{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #F6A19D;
    text-align: center;
    line-height: 1.5;
}

.clock-text{
    padding: 1px 0 50px 0;
    text-decoration: underline; 
}

.filler{
    border-bottom: 5px dotted #F6A19D;
    height: 0;
    padding-top: 50px;
}

.filler-right{
    padding-top: 0px;
}

.logo{
    height: 77px;
    width: 72px;
    padding-top: 20px;
}

.line{
    height: 10px;
    background: #F6A19D;
    margin-top: -7px;
}

.logo-right{
    height: 100px;
    width: 100px;
    border: 13px solid #F6A19D;
    border-radius: 50%;
    background: #ffff;
    position: absolute;
    z-index: 1;
    margin-left: 120px;
    bottom: 25%;
}

div.logo-right img {
    padding-top: 0;
    position: absolute;
    left: 14px;
    bottom: 10px;
}
.right-header {
    font-size: 96px;
    color: #F6A19D;
    font-weight: bold;
}

.right-text {    
    line-height: 1.4;
    padding-top: 15%;
}

footer div{
    height: 110px;
    /* height: 15%; */
}

.footer-left{
    background-color: #F6A19D; 
}

.footer-center{
    background-color: #F6A19D; 
}

.footer-right{
    background-color: #F6A19D; 
}

.contacts {
    position: relative;
}

.contact-info{
    font-family: Helvetica, Arial, sans-serif;
    color: #ffff;
    font-size: 20px;
}
   
.email{
    position: absolute;
    bottom: 80px;
    left: 40px;
}
.phone{
    position: absolute;
    bottom: 45px;
    left:40px;
}
.insta{
    position: absolute;
    bottom: 12px;
    left:40px;
}

.footer-center-text{
    color: #ffff;
}

.clearfix{
    clear: both;
}

table{
    width: 700px;
    height: 700px;
    border-collapse: collapse;    
}

td{
    border: 2px solid black;
}
